@model SE406_Payne.Models.StatusCodeViewModel
@section list {
    <h1>Status Codes</h1>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Edit", "StatusCode", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewStatusCode.StatusCodeId)
                    @Html.TextBoxFor(Model => Model.NewStatusCode.StatusCodeId,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewStatusCode.StatusCodeId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewStatusCode.StatusName)
                    @Html.TextBoxFor(Model => Model.NewStatusCode.StatusName,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewStatusCode.StatusName"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-lg" />
                    <div class="btn btn-lg">
                        @Html.ActionLink("Back to Status Codes", "Index")
                    </div>
                </div>
            }
        </div>
    </div>
</div>