@model SE406_Payne.Models.BridgeViewModel
@section list {
    <h1>Bridges</h1>
}
<div class="container-fluid">
    @using (Html.BeginForm("Index", "Bridge", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.Bridgeid)
                    @Html.TextBoxFor(Model => Model.NewBridge.Bridgeid,
                     new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewBridge.Bridgeid"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.MaterialDesignId)
                    <select asp-for="@Model.NewBridge.MaterialDesignId"
                            asp-items="@Model.MaterialDesigns" class="form-control">
                        <option value="" selected>Choose Material Design ID</option>
                    </select>
                    <span asp-validation-for="@Model.NewBridge.MaterialDesignId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.ConstructionDesignId)
                    <select asp-for="@Model.NewBridge.ConstructionDesignId"
                            asp-items="@Model.ConstructionDesigns" class="form-control">
                        <option value="" selected>Choose Construction Design ID</option>
                    </select>
                    <span asp-validation-for="@Model.NewBridge.ConstructionDesignId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.FunctionalClassId)
                    <select asp-for="@Model.NewBridge.FunctionalClassId"
                            asp-items="@Model.FunctionalClasses" class="form-control">
                        <option value="" selected>Choose Functional Class ID</option>
                    </select>
                    <span asp-validation-for="@Model.NewBridge.FunctionalClassId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.StatusId)
                    <select asp-for="@Model.NewBridge.StatusId"
                            asp-items="@Model.StatusCodes" class="form-control">
                        <option value="" selected>Choose Status Code ID</option>
                    </select>
                    <span asp-validation-for="@Model.NewBridge.StatusId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.CountyId)
                    <select asp-for="@Model.NewBridge.CountyId"
                            asp-items="@Model.Counties" class="form-control">
                        <option value="" selected>Choose County ID</option>
                    </select>
                    <span asp-validation-for="@Model.NewBridge.CountyId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.NbiNumber)
                    @Html.TextBoxFor(Model => Model.NewBridge.NbiNumber,
                     new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewBridge.NbiNumber"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewBridge.Rating)
                    @Html.TextBoxFor(Model => Model.NewBridge.Rating,
                     new { @class = "form-control" })
                </div>
            </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.LabelFor(Model => Model.NewBridge.RouteNumber)
                @Html.TextBoxFor(Model => Model.NewBridge.RouteNumber,
                    new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.NewBridge.City)
                @Html.TextBoxFor(Model => Model.NewBridge.City,
                    new { @class = "form-control" })
                <span asp-validation-for="@Model.NewBridge.City"
                      class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.NewBridge.IntersectingFeature)
                @Html.TextBoxFor(Model => Model.NewBridge.IntersectingFeature,
                    new { @class = "form-control" })
                <span asp-validation-for="@Model.NewBridge.IntersectingFeature"
                      class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.NewBridge.CarriedFeature)
                @Html.TextBoxFor(Model => Model.NewBridge.CarriedFeature,
                    new { @class = "form-control" })
                <span asp-validation-for="@Model.NewBridge.CarriedFeature"
                      class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.NewBridge.Location)
                @Html.TextBoxFor(Model => Model.NewBridge.Location,
                    new { @class = "form-control" })
                <span asp-validation-for="@Model.NewBridge.Location"
                      class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.NewBridge.Built)
                @Html.TextBoxFor(Model => Model.NewBridge.Built,
                    new { @class = "form-control" })
                <span asp-validation-for="@Model.NewBridge.Built"
                      class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.NewBridge.Reconstructed)
                @Html.TextBoxFor(Model => Model.NewBridge.Reconstructed,
                    new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.NewBridge.TotalLength)
                @Html.TextBoxFor(Model => Model.NewBridge.TotalLength,
                    new { @class = "form-control" })
                <span asp-validation-for="@Model.NewBridge.TotalLength"
                      class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-lg" />
            </div>
        </div>
            <div class="col-sm-3"></div>
      </div>
       
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>City</th>
                        <th>Rating</th>
                        <th>Route Number</th>
                        <th>Intersecting Feature</th>
                        <th>Carried Feature</th>
                        <th>Location</th>
                        <th> </th>
                    </tr>
                    @foreach (var bridge in Model.BridgeList)
                    {
                        <tr>
                            <td>@bridge.City</td>
                            <td>@bridge.Rating</td>
                            <td>@bridge.RouteNumber</td>
                            <td>@bridge.IntersectingFeature</td>
                            <td>@bridge.CarriedFeature</td>
                            <td>@bridge.Location</td>
                            <td><a asp-action="Edit" asp-route-id="@bridge.Bridgeid">Edit</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>