@model SE406_Payne.Models.InspectionViewModel
@section list {
    <h1>Inspections</h1>
}

@if (TempData["ResultMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">
        @TempData["ResultMessage"]
    </p>
}
<br />

<div class="container-fluid">

    @using (Html.BeginForm("Index", "Inspection", FormMethod.Post))
            {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspection.InspectionId)
                    @Html.TextBoxFor(Model => Model.NewInspection.InspectionId,
                    new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspection.InspectionId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspection.BridgeId)
                    <select asp-for="@Model.NewInspection.BridgeId"
                            asp-items="@Model.Bridges" class="form-control">
                        <option value="" selected>Choose Bridge ID</option>
                    </select>
                    <span asp-validation-for="@Model.NewInspection.BridgeId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspection.InspectorId)
                    <select asp-for="@Model.NewInspection.InspectorId"
                            asp-items="@Model.Inspectors" class="form-control">
                        <option value="" selected>Choose Inspector ID</option>
                    </select>
                    <span asp-validation-for="@Model.NewInspection.InspectorId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspection.InspectionDate)
                    @Html.TextBoxFor(Model => Model.NewInspection.InspectionDate,
                    new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspection.InspectionDate"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">

                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspection.DeckInspectionCodeId)
                    <select asp-for="@Model.NewInspection.DeckInspectionCodeId"
                            asp-items="@Model.DeckInspections" class="form-control">
                        <option value="" selected>Choose Deck Inspection Code Id</option>
                    </select>
                    <span asp-validation-for="@Model.NewInspection.DeckInspectionCodeId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspection.SuperstructureInspectionCodeId)
                    <select asp-for="@Model.NewInspection.SuperstructureInspectionCodeId"
                            asp-items="@Model.SuperInspections" class="form-control">
                        <option value="" selected>Choose Superstructure Ins. Code ID</option>
                    </select>
                    <span asp-validation-for="@Model.NewInspection.SuperstructureInspectionCodeId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspection.SubstructureInspectionCodeId)
                    <select asp-for="@Model.NewInspection.SubstructureInspectionCodeId"
                            asp-items="@Model.SubInspections" class="form-control">
                        <option value="" selected>Choose Substructure Ins. Code ID</option>
                    </select>
                    <span asp-validation-for="@Model.NewInspection.SubstructureInspectionCodeId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspection.InspectionNotes)
                    @Html.TextBoxFor(Model => Model.NewInspection.InspectionNotes,
                   new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-lg" />
                </div>
            </div>
        </div>
    }

    <div class="col-sm-3"></div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Inspection</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Inspection ID</th>
                        <th>Bridge ID</th>
                        <th>Inspector ID</th>
                        <th>Inspection Date</th>
                        <th>Deck Inspection ID</th>
                        <th>Super Code Id</th>
                        <th>Sub Code ID</th>
                        <th>Inspection Notes</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    @foreach (var Inspection in Model.InspectionList)
                    {
                        <tr>
                            <td>@Inspection.InspectionId</td>
                            <td>
                            @if (Inspection.BridgeId != null)
                            {
                                @Model.Bridges.Where(b => b.Value == Inspection.BridgeId.ToString()).FirstOrDefault().Text;
                            }
                            </td>
                            <td>
                                @if (Inspection.InspectorId != null)
                                {
                                    @Model.Inspectors.Where(i => i.Value == Inspection.InspectorId.ToString()).FirstOrDefault().Text;

                                }
                            </td>
                            <td>@Inspection.InspectionDate</td>
                            <td>
                            @if(Inspection.DeckInspectionCodeId != null)
                            {
                                @Model.DeckInspections.Where(w => w.Value == Inspection.DeckInspectionCodeId.ToString()).FirstOrDefault().Text;

                            }
                            </td>
                            <td>
                            @if(Inspection.SuperstructureInspectionCodeId != null)
                            {
                                @Model.SuperInspections.Where(sup => sup.Value == Inspection.SuperstructureInspectionCodeId.ToString()).FirstOrDefault().Text;

                            }
                            </td>
                            <td>
                            @if(Inspection.SubstructureInspectionCodeId != null)
                            {
                                @Model.SubInspections.Where(sub => sub.Value == Inspection.SubstructureInspectionCodeId.ToString()).FirstOrDefault().Text;

                            }
                            </td>
                            <td>@Inspection.InspectionNotes</td>
                            <td><a asp-action="Edit" asp-route-id="@Inspection.InspectionId">Edit</a></td>
                            <td><a asp-action="Delete" asp-route-id="@Inspection.InspectionId" onclick='return confirm("Are you sure?");'>Delete</a></td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>


</div>