@model SE406_Payne.Models.InspectorViewModel
@section list {
    <h1>Inspectors</h1>
}
<div class="container-fluid">

    @using (Html.BeginForm("Edit", "Inspector", FormMethod.Post))
            {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspector.InspectorId)
                    @Html.TextBoxFor(Model => Model.NewInspector.InspectorId,
                    new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspector.InspectorId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspector.InspectorFirst)
                    @Html.TextBoxFor(Model => Model.NewInspector.InspectorFirst,
                    new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspector.InspectorFirst"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspector.InspectorLast)
                    @Html.TextBoxFor(Model => Model.NewInspector.InspectorLast,
                    new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspector.InspectorLast"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspector.InspectorOrg)
                    @Html.TextBoxFor(Model => Model.NewInspector.InspectorOrg,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspector.InspectorOrg"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspector.InspectorCertEffective)
                    @Html.TextBoxFor(Model => Model.NewInspector.InspectorCertEffective,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspector.InspectorCertEffective"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspector.InspectorCertExpires)
                    @Html.TextBoxFor(Model => Model.NewInspector.InspectorCertExpires,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspector.InspectorCertExpires"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-lg" />
                    <div class="btn btn-lg">
                        @Html.ActionLink("Back to Inspectors", "Index")
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-sm-3"></div>
</div>