@model SE406_Payne.Models.UserViewModel
@section list {
    <h1>Users</h1>
}

@if (TempData["ResultMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">
        @TempData["ResultMessage"]
    </p>
}
<br />

<div class="container-fluid">
    @using (Html.BeginForm("Index", "User", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewUser.UserID)
                    @Html.TextBoxFor(Model => Model.NewUser.UserID,
                   new { @class ="form-control"})
                    <span asp-validation-for="@Model.NewUser.UserID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewUser.FirstName)
                    @Html.TextBoxFor(Model => Model.NewUser.FirstName,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewUser.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewUser.LastName)
                    @Html.TextBoxFor(Model => Model.NewUser.LastName,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewUser.LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewUser.Email)
                    @Html.TextBoxFor(Model => Model.NewUser.Email,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewUser.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewUser.Password)
                    @Html.TextBoxFor(Model => Model.NewUser.Password,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewUser.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-lg" />
                </div>
            </div>
        </div>

    }

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>User ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    @foreach (var user in Model.UserList)
                    {
                        <tr>
                        <td>@user.UserID</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.Password</td>
                        <td><a asp-action="Edit" asp-route-id="@user.UserID">Edit</a></td>
                        <td><a asp-action="Delete" asp-route-id="@user.UserID" onclick='return confirm("Are you sure?");'>Delete</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
