@model SE406_Payne.Models.InspectionCodeViewModel
@section list {
    <h1>Inspection Codes</h1>
}

@if (TempData["ResultMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">
        @TempData["ResultMessage"]
    </p>
}
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "InspectionCode", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCode.InspectionCodeId)
                    @Html.TextBoxFor(Model => Model.NewInspectionCode.InspectionCodeId,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspectionCode.InspectionCodeId" 
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCode.InspectionCodeName)
                    @Html.TextBoxFor(Model => Model.NewInspectionCode.InspectionCodeName,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspectionCode.InspectionCodeName"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCode.InspectionCodeDesc)
                    @Html.TextBoxFor(Model => Model.NewInspectionCode.InspectionCodeDesc,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspectionCode.InspectionCodeDesc"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-lg" />
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Inspection Codes</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Inspection Code ID</th>
                        <th>Inspection Code Name</th>
                        <th>Inspection Code Desc</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    @foreach (var InspectionCode in Model.InspectionCodeList)
                    {
                        <tr>
                            <td>@InspectionCode.InspectionCodeId</td>
                            <td>@InspectionCode.InspectionCodeName</td>
                            <td>@InspectionCode.InspectionCodeDesc</td>
                            <td><a asp-action="Edit" asp-route-id="@InspectionCode.InspectionCodeId">Edit</a></td>
                            <td><a asp-action="Delete" asp-route-id="@InspectionCode.InspectionCodeId" onclick='return confirm("Are you sure?");'>Delete</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>


</div>