@model SE406_Payne.Models.InspectionCodeViewModel
@section list {
<h1>Inspection Codes</h1>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Edit", "InspectionCode", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCode.InspectionCodeId)
                    @Html.TextBoxFor(Model => Model.NewInspectionCode.InspectionCodeId,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspectionCode.InspectionCodeId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCode.InspectionCodeName)
                    @Html.TextBoxFor(Model => Model.NewInspectionCode.InspectionCodeName,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspectionCode.InspectionCodeName"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewInspectionCode.InspectionCodeDesc)
                    @Html.TextBoxFor(Model => Model.NewInspectionCode.InspectionCodeDesc,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewInspectionCode.InspectionCodeDesc"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-lg" />
                    <div class="btn btn-lg">
                        @Html.ActionLink("Back to Inspection Codes", "Index")
                    </div>
                </div>
            }
        </div>
    </div>
</div>