@model SE406_Payne.Models.CountyViewModel
@section list {
<h1>Counties</h1>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Edit", "County", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewCounty.CountyId)
                    @Html.TextBoxFor(Model => Model.NewCounty.CountyId,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewCounty.CountyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewCounty.CountyName)
                    @Html.TextBoxFor(Model => Model.NewCounty.CountyName,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewCounty.CountyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-lg" />
                    <div class="btn btn-lg">
                        @Html.ActionLink("Back to Counties", "Index")
                    </div>
                </div>
            }
        </div>
    </div>
</div>