@model SE406_Payne.Models.MaterialDesignViewModel
@section list {
<h1>Material Designs</h1>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Edit", "MaterialDesign", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaterialDesign.MaterialDesignId)
                    @Html.TextBoxFor(Model => Model.NewMaterialDesign.MaterialDesignId,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewMaterialDesign.MaterialDesignId"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaterialDesign.MaterialDesignType)
                    @Html.TextBoxFor(Model => Model.NewMaterialDesign.MaterialDesignType,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewMaterialDesign.MaterialDesignType"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-lg" />
                    <div class="btn btn-lg">
                        @Html.ActionLink("Back to Material Designs", "Index")
                    </div>
                </div>
            }
        </div>
    </div>
</div>