@model SE406_Payne.Models.CountyViewModel
@section list {
    <h1>Counties</h1>
}

@if (TempData["ResultMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">
        @TempData["ResultMessage"]
    </p>
}
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "County", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewCounty.CountyId)
                    @Html.TextBoxFor(Model => Model.NewCounty.CountyId,
                   new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewCounty.CountyName)
                    @Html.TextBoxFor(Model => Model.NewCounty.CountyName,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewCounty.CountyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-lg" />
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Counties</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>County ID</th>
                        <th>County Name</th>
                        <th> </th>
                        <th> </th>
                    </tr>

                    @foreach (var county in Model.CountyList)
                    {
                        <tr>
                            <td>@county.CountyId</td>
                            <td>@county.CountyName</td>
                            <td><a asp-action="Edit" asp-route-id="@county.CountyId">Edit</a></td>
                            <td><a asp-action="Delete" asp-route-id="@county.CountyId" onclick='return confirm("Are you sure?");'>Delete</a></td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>


</div>