@model SE406_Payne.Models.ConstructionDesignViewModel
@section list {
<h1>Construction Designs</h1>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Edit", "ConstructionDesign", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewConstructionDesign.ConstructionDesignId)
                    @Html.TextBoxFor(Model => Model.NewConstructionDesign.ConstructionDesignId,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewConstructionDesign.ConstructionDesignId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewConstructionDesign.ConstructionDesignType)
                    @Html.TextBoxFor(Model => Model.NewConstructionDesign.ConstructionDesignType,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewConstructionDesign.ConstructionDesignType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-lg" />
                    <div class="btn btn-lg">
                        @Html.ActionLink("Back to Construction Designs", "Index")
                    </div>
                </div>
            }
        </div>
    </div>
</div>