@model SE406_Payne.Models.MaintenanceActionViewModel
@section list {
    <h1>Maintenance Actions</h1>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "MaintenanceAction", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceAction.MaintenanceActionId)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceAction.MaintenanceActionId,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewMaintenanceAction.MaintenanceActionId" 
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewMaintenanceAction.MaintenanceActionName)
                    @Html.TextBoxFor(Model => Model.NewMaintenanceAction.MaintenanceActionName,
                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewMaintenanceAction.MaintenanceActionName"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-lg" />
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Maintenance Actions</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Maint Actions ID</th>
                        <th>Maint Actions Name</th>
                        <th> </th>
                    </tr>
                    @foreach (var MaintenanceAction in Model.MaintenanceActionList)
                    {
                        <tr>
                            <td>@MaintenanceAction.MaintenanceActionId</td>
                            <td>@MaintenanceAction.MaintenanceActionName</td>
                            <td><a asp-action="Edit" asp-route-id="@MaintenanceAction.MaintenanceActionId">Edit</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>